.mat-form-field {
    display: block;
}

button {
    background: darkblue;
    color: white;
    width: 150px;
}

.close {
    float: right;
    color: red;
    zoom: 1.2;
    margin-bottom: 15px;
    margin-top: -10px;
    cursor: pointer;
}
