.team_members {
    padding: 20px;
    table {
        width: 100%;
        margin-top: 20px;
        th {
            color: midnightblue;
            font-size: 16px;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        color: darkblue;
        margin: auto;
    }

    .container {
        min-width: 100%;
    }
    .col-lg {
        margin: auto;
    }

    button {
        background: darkblue;
        color: white;
    }

    mat-icon {
        color: grey;
    }
}

.pointer {
    cursor: pointer;
}


